<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NancyApplicationRazor</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
	<img src="~/Content/nancy-logo.png" alt="Nancy logo" /><br />
    This view was rendered using the Nancy Razor view engine<br />
    
    <input id="test" type="button" value="button" />
    
    <script type="text/javascript">
        
        $('#test').click( function() {
            var data = '{name: "Pawel", ' + 'score: "6"}';
            $.ajax({
                url: '/test',
                type: 'POST',
                data: data,
                datatype: 'JSON',
                contentType: 'application/json',
                success: function (result) {
                    $(document.body).html(result).show();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var resultSet = '<div class="general-error">Something went wrong</div>';
                    $(document.body).html(resultSet);
                    console.log('something went wrong:');
                    console.log(xhr);
                    console.log(thrownError);
                }
            });
        })
        
    </script>
</body>
</html>
